.title-container {
    box-shadow: inset;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
  }

.align-items-right {
  margin-left: auto;
  margin-right: 0;
  padding: 10px;
}

.search-button-right {
  float: right;
}

.search-button {
  background-color: #e7e7e7; color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.datepicker-split-empty-space{
  padding: 1rem;
}